# Build and Release Folders
air/
bin/
bin-debug/
bin-release/
bat/
*.bat
lib/
obj/
dist/
.DS_Store
AIR_readme.txt
*.as3proj


# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.